a{
    text-decoration: none !important;
    margin: 0 20px;
    color: rgb(15, 15, 15) !important;
  }
  
  .active {
    color: red !important;
  }

  .nav {
    background-color: aqua !important;
    font-size: large !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    
}